# **Qfrom Documentation**

# **Contents**

**Import**

**Methods**
- import_list
- import_dict
- import_set
- import_array
- import_mtx
- import_dataframe
- import_csv
- (import_json)
- import_generator

- eq
- str
- repr

- append
- setitem
- getitem
- contains
- iter

- rename
- orderby
- orderby_pn
- (shuffle)
- first
- columns
- (stats)
- copy
- (deep_copy)

- where
- split
- select
- select_pn -> pass None values
- select_join -> map-op which gets joined directly
- select_join_pn
- col_where
- col_select
- col_select_join
- (normalize)

- join
- join_cross
- join_outer
- join_outer_left
- join_outer_right
- join_id
- join_id_outer
- join_id_outer_left
- join_id_outer_right

- (union)
- (intersect)
- (difference)
- (symmetric_difference)
- (partition)
- concat
- concat_outer
- concat_outer_left
- concat_outer_right

- groupby
- groupby_pn
- flatten
- flatten_pn
- flatten_join
- flatten_join_pn
- unique

- col_agg
- pair_agg
- any
- all
- min
- min_id
- min_item
- max
- max_id
- max_item
- sum
- mean
- median
- var
- len
- size

- calc
- call

- plot
- plot_bar
- plot_hist
- plot_box
- plot_scatter

- tolist
- (toset)
- todict
- toarray
- (tomtx)
- todf
- tocsv
- (tocsvfile)
- (tojson)
- (tojsonfile)
- __array__

# **Import**

In [1]:
from QfromPackage.Qfrom_tab_mod import Qfrom

# **Methods**

In [4]:
import numpy as np
import pandas as pd

**import_list**

In [5]:
l = [1, 2, 3]
Qfrom(l)

Qfrom
0
1
2
3

In [6]:
l = [(1, 4), (2, 5), (3, 6)]
Qfrom(l)

Qfrom
0	1
1	4
2	5
3	6

In [7]:
l = [{'a': 1, 'b': 4}, {'a': 2, 'b': 5}, {'a': 3, 'b': 6}]
Qfrom(l)

Qfrom
a	b
1	4
2	5
3	6

**import_dict**

In [8]:
d = {'a': [1, 2, 3], 'b': [4, 5, 6]}
Qfrom(d)

Qfrom
a	b
1	4
2	5
3	6

**import_set**

In [9]:
s = {1, 2, 3}
Qfrom(s)

Qfrom
0
1
2
3

**import_array**

In [10]:
a = np.array([1, 2, 3])
Qfrom(a)

Qfrom
0
1
2
3

**import_mtx**

In [11]:
mtx = np.array([[1, 4], [2, 5], [3, 6]])
Qfrom(mtx)

Qfrom
0	1
1	4
2	5
3	6

**import_dataframe**

In [12]:
#df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
#Qfrom(df)

**import_csv**

In [13]:
csv = '''
a,b
1,4
2,5
3,6
'''

Qfrom(csv)

Qfrom
a	b
1	4
2	5
3	6

**(import_json)**

**import_generator**

In [14]:
Qfrom(range(5))

Qfrom
0
0
1
2
3
4

**eq**

In [15]:
q1 = Qfrom({
    'a': [1, 2, 3],
    'b': [4, 5, 6]
})
q2 = Qfrom([
    {'a': 1, 'b': 4},
    {'a': 2, 'b': 5},
    {'a': 3, 'b': 6}
])

print(f'{q1 = }')
print(f'{q2 = }')
print('')
print(f'q1 == q2 -> {q1==q2}')

q1 = Qfrom
a	b
1	4
2	5
3	6
q2 = Qfrom
a	b
1	4
2	5
3	6

q1 == q2 -> True

**str**

In [16]:
q = Qfrom({'a': [1, 2, 3], 'b': [4, 5, 6]})
str(q)

'Qfrom\na\tb\n1\t4\n2\t5\n3\t6'

**repr**

In [17]:
q = Qfrom({'a': [1, 2, 3], 'b': [4, 5, 6]})
print(q)

Qfrom
a	b
1	4
2	5
3	6

**append**

In [18]:
q = Qfrom({'a': [1, 2, 3], 'b': [4, 5, 6]})

q.append((4, 7))
q

Qfrom
a	b
1	4
2	5
3	6
4	7

In [19]:
q = Qfrom({'a': [1, 2, 3], 'b': [4, 5, 6]})

q.append({'a': 4, 'b':7})
q

Qfrom
a	b
1	4
2	5
3	6
4	7

**setitem**

**getitem**

In [22]:
q = Qfrom({'a': [1, 2, 3], 'b': [4, 5, 6]})
q

Qfrom
a	b
1	4
2	5
3	6

In [20]:
q['a']

Qfrom
a
1
2
3

In [21]:
q[0]

(1, 4)

In [24]:
q[1:3]

Qfrom
a	b
2	5
3	6

**contains**

**iter**

**rename**

**orderby**

**orderby_pn**

**(shuffle)**

**first**

**columns**

**(stats)**

**copy**

**(deep_copy)**

**where**

**split**

**select**

**select_pn**

**select_join**

**select_join_pn**

**col_where**

**col_select**

**col_select_join**

**(normalize)**

**join**

**join_cross**

**join_outer**

**join_outer_left**

**join_outer_right**

**join_id**

**join_id_outer**

**join_id_outer_left**

**join_id_outer_right**

**(union)**

**(intersect)**

**(difference)**

**(symmetric_difference)**

**(partition)**

**concat**

**concat_outer**

**concat_outer_left**

**concat_outer_right**

**groupby**

**groupby_pn**

**flatten**

**flatten_pn**

**flatten_join**

**flatten_join_pn**

**unique**

**col_agg**

**pair_agg**

**any**

**all**

**min**

**min_id**

**min_item**

**max**

**max_id**

**max_item**

**sum**

**mean**

**median**

**var**

**len**

**size**

**calc**

**call**

**plot**

**plot_bar**

**plot_hist**

**plot_box**

**plot_scatter**

**tolist**

**(toset)**

**todict**

**toarray**

**(tomtx)**

**todf**

**tocsv**

**(tocsvfile)**

**(tojson)**

**(tojsonfile)**

**__array__**